@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iosevka+Charon+Mono:wght@400;500&display=swap');
@import './theme-vars.css';
@import './reset.css';

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: var(--f-main);
  font-size: var(--s-font-size);
  color: var(--c-text);
  background-color: var(--c-l0-bg);
  user-select: none;
}

button {
  outline: none;
  border: none;
}

.success.success {
  background-color: var(--c-success-bg);
  color: var(--c-success-text);
  border: none;
}

.success.success:hover {
  background-color: var(--c-success-bg-hovered);
}

.warning.warning {
  background-color: var(--c-warning-bg);
  color: var(--c-warning-text);
  border: none;
}

.warning.warning:hover {
  background-color: var(--c-warning-bg-hovered);
}

.danger.danger {
  background-color: var(--c-danger-bg);
  color: var(--c-danger-text);
  border: none;
}

.danger.danger:hover {
  background-color: var(--c-danger-bg-hovered);
}

.spacer {
  flex: 1 1 auto;
}

.inline-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }

  &.full {
    &.row {
      width: 100%;
    }

    &.column {
      height: 100%;
    }
  }
}
